.container{
    width: 100%;
}
.main{
    width: 940px;
    padding-top: 10px;
    margin: 0 auto;
}
.btnTitle{
    font-size: 32px;
}
.boxes{
    padding-top:15px;
    padding-bottom:15px;
    background-color: #86A1B0;
    border:1px solid #607581;
}